@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://use.typekit.net/cxe6slk.css");

html,
body {
  padding: 0;
  background-color: #2e2f30;
  margin: 0;
  font-family: "sofia-pro", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@layer components {
  .textGradient {
    @apply bg-gradient-to-br from-[#f2709c]  to-[#ff9472]  bg-clip-text text-transparent;
  }
}
